@media print {

  $font-size-titles: 12pt;
  $font-size-text: 10pt;
  $font-size-code: 9pt;
    
  // Paged media

  head, 
  head > meta {
    display:inline;
    visibility: hidden;
    position: absolute;
    left: 1000in;
  }

  $page_width: 8.5in;
  $page_height: 11in;
  $margin: .5in;

  meta[name="author"] { string-set: author attr(content); }
  meta[property="og:title"] { string-set: title attr(content); }
  meta[property="og:url"] { string-set: url attr(content); }
  meta[name="git_commit_sha_short"] { string-set: sha attr(content); }

  @page {
    margin: 2*$margin $margin $margin $margin;
    size: $page_width $page_height;
    @top-left {
      content: string(author);
      font-weight: bold;
      font-size: $font-size-titles;
      font-family: $heading-font-family;
    }
    @top-center {
      content: string(title);
      font-weight: bold;
      font-size: $font-size-titles;
      font-family: $heading-font-family;
    }
    @top-right {
      content: url(\002f\0069\006d\0061\0067\0065\0073\002f\0068\0065\006c\006c\006f\002e\0070\006e\0067);
    }
    @bottom-left {
      content: "SHA-1: " string(sha);
      font-size: $font-size-text;
      font-family: $text-font-family;
    }
    @bottom-center {
      content: string(url);
      font-size: $font-size-text;
      font-family: $text-font-family;
    }
    @bottom-right {
      content: counter(page) "/" counter(pages);
      font-size: $font-size-text;
      font-family: $text-font-family;
    }
  }

  .content {
    width: $page_width - 2*$margin;
  }

  // Page break management
  
  p,
  tr,
  ul,
  li,
  h2 {
    break-inside: avoid;
  }

  h2 {
    page-break-after: avoid;
    break-after: avoid-page;
  }

  h2+p, h2+ul {
    page-break-before: avoid;
    break-before: avoid-page;
  }

  // Sections to hide

  nav,
  article header,
  footer {
    display: none;
  }
 
  // Backgound colors
  body {
    background-color: white;
  }

  code {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  // Reset properties for margin and padding

  html {
    box-sizing: content-box;
    font-size: 100%;
  }

  main,
  body,
  article,
  .wrapper,
  .content,
  .container,
  .page {
    margin: 0;
    padding: 0;
  }

  // Spacing and font size throughout the content (in article tag)

  article {
  
    h2,
    p,
    ul {
      line-height: 1.2;
    }


    h2 {
      margin: $font-size-titles 0 $font-size-titles/2 0;
      font-size: $font-size-titles;
    }

    p,
    ul {
      font-size: $font-size-text;
    }
  
    code {
      font-size: $font-size-code;
      line-height: 1;
      padding: 0;
      margin: 1pt 0;
    }

    p {
      margin: $font-size-text/2 0 0 0;
    }

    blockquote {
      padding: 0 $font-size-text/2 0 0;
      margin: 0;
    }
  
    td p {
      margin-top: 0;
    }

    td {
      padding: 0;
      margin: 0;
    }

    tr td:first-child {
      padding: $font-size-text/2 $font-size-text/2 $font-size-text/2 0;
    }

    tr td:last-child {
      padding: $font-size-text/2 0 $font-size-text/2 $font-size-text/2;
    }

    table {
      margin-top: $font-size-text/2;
    }

    ul {
      padding: 0;
      margin: 0 0 0 $font-size-text*.75;
    }

  }

}
