<nav class="navigation">
  <section class="container">
    <a class="navigation-title" href="{{ .Site.BaseURL | relLangURL }}">
      {{ .Site.Title }}
    </a>
    <input type="checkbox" id="menu-toggle" />
    <label class="menu-button float-right" for="menu-toggle"><i class="fas fa-bars"></i></label>
    <ul class="navigation-list">
      {{ with .Site.Menus.main}}
        {{ range sort . }}
          <li class="navigation-item">
            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
        {{ $node := . }}
        {{ .Scratch.Set "separator" true }}
        {{ range .Translations }}
          {{ if $node.Scratch.Get "separator" }}
            <li class="navigation-item menu-separator">
              <span>|</span>
            </li>
            {{ $node.Scratch.Set "separator" false }}
          {{ end }}
          <li class="navigation-item">
            <a href="{{ .Permalink }}">
            <i class="fa fa-language"></i>&nbsp;
            {{ upper .Language.Lang }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </section>
</nav>
